---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimelineSection from "../components/TimelineSection.astro";
---

<BaseLayout
   title="About · Pine Merchant"
   description="A timeline for Pine Merchant."
   crumbs={["about"]}
>
   <main>
      <TimelineSection />
   </main>
</BaseLayout>
