---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimelineSection from "../components/TimelineSection.astro";
---

<BaseLayout
   title="Biography · Pine Merchant"
   description="A timeline for Pine Merchant."
   crumbs={[{ label: "biography", anagram: "YAH PIG ORB" }]}
>
   <main>
      <TimelineSection />
   </main>
</BaseLayout>
