---
import BaseLayout from "../layouts/BaseLayout.astro";

import IntroSection from "../components/IntroSection.astro";
---

<BaseLayout title="Pine Merchant">
   <main>
      <IntroSection />
   </main>
</BaseLayout>
